name: ml-foundations
channels:
  - conda-forge
dependencies:
  - python=3.11
  - numpy
  - pandas
  - scikit-learn
  - matplotlib
  - jupyterlab
  - tqdm
  - pip
  - pip:
      - torch
      - torchaudio
